.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom, var(--gradient-color), var(--gradient-color)), url(../images/background/background_main.png);
  background-color: var(--bg-dark-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}



.hero__title {
  padding-right: 250px;
  padding-left: 250px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}